<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="DIRECTORY" value="C:/HeteroTeleMedicineLogs" />
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd hh:mm} %level %c %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DIRECTORY}/TeleMedicine.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${DIRECTORY}/TeleMedicine.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd hh:mm} %level %c %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.example.TeleMedicine" level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
</configuration>